{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}

<div class="container max-w-4xl mx-auto px-2 flex-grow">
    {% include "_flashing.html" %}

    <div class="max-w-md mx-auto mt-10">
        <p class="font-bold text-lg my-5">許可情報</p>
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <div class="">
                <p class="text-right">
                    <a href="{{ request.path }}/edit" class="px-2 py-1 text-blue-500 rounded-full hover:bg-blue-100 text-right text-sm">編集</a>
                </p>
            </div>

            <p class="mt-3 text-lg font-bold">{{ '%05d' % contractor.id }}</p>
            <p class="text-2xl my-2">{{ contractor.name }}</p>
            <p class="text-lg font-bold">{{ permit.issuer.name }}
                <span id="permitCity"></span></p>
            <p class="text-base my-1">
                {% if permit.copy_url %}
                <a href="{{ permit.copy_url }}" class="px-2 py-1 text-blue-500 rounded-full hover:bg-blue-100" target="_blank" rel="noopener">
                    {{ permit.permit_type.name }}
                </a>
                {% else %}
                <span>
                    {{ permit.permit_type.name }}
                </span>
                {% endif %}
            </p>

            <p class="text-gray-700 text-sm">許可の年月日：
                <span class="text-lg font-bold">{{ permit.effective_from }}</span>
            </p>
            <p class="text-gray-700 text-sm">許可の有効年月日：
                <span class="text-lg font-bold">{{ permit.expires_on }}</span>
            </p>
            
            <hr class="mt-5 mb-3">

            <div class="flex justify-between text-gray-500 text-sm">
                <p class="items-end">{{ permit.registered_at.strftime('%Y-%m-%d %H:%M') }}</p>
                <p class="items-end">{{ permit.registered_by }}</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    const strPrefId = ("{{ permit.prefecture }}").toString().padStart(2, '0');
    const strCityId = ("{{ permit.city }}").toString().padStart(5, '0');

    const endpoint = 'https://www.land.mlit.go.jp/webland/api/CitySearch?area=' + strPrefId;
    const permitCity = document.getElementById('permitCity')

    async function setCityName () {
        const res = await fetch(endpoint);
        const cities = await res.json();

        cities['data'].forEach((city) => {
            if (city.id == strCityId) {
                const cityName = city.name;
                permitCity.textContent = cityName;
            };
        });
    }

    setCityName();

</script>
{% endblock %}