{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
{% from "_macros.html" import render_field_with_errors, render_input_field %}

<div class="container mx-auto max-w-sm py-10" x-data="">
    <h1 class="font-bold text-xl text-gray-500">契約の編集</h1>

    <form method="POST" enctype="multipart/form-data" x-data="{}">
        {{ form.csrf_token }}

        <div class="my-5 text-gray-500 text-sm">
            <span class="text-gray-700 text-base font-bold mt-2 px-3 pb-1">{{ contract.customer_id }}</span>: {{ contract.customer.name }}
        </div>
        <div class="my-5 text-gray-500 text-sm">
            <span class="text-gray-700 text-base font-bold mt-2 px-3 pb-1">{{ contract.shop_id }}</span>: {{ contract.shop.name }}
        </div>
        <div class="my-5 text-gray-500 text-sm">
            <span class="text-gray-700 text-base font-bold mt-2 px-3 pb-1">{{ contract.contractor_id }}</span>: {{ contract.contractor.name }}
        </div>

        <div class="my-5 text-gray-500 text-sm">
            {{ render_field_with_errors(form.item_id, class_="w-full text-gray-700 mt-2 px-3 pb-1 border-b font-bold text-base")}}
        </div>

        <div class="my-5 text-gray-500 text-sm">
            {{ render_field_with_errors(form.effective_from, class_="w-1/2 text-gray-700 mt-2 px-3 pb-1 border-b text-sm")}}
        </div>

        <div class="my-5 text-gray-500 text-sm">
            {{ render_field_with_errors(form.expires_on, class_="w-1/2 text-gray-700 mt-2 px-3 pb-1 border-b")}}
            <span class="ml-3">{{ form.auto_extention }}</span><span class="ml-2">{{ form.auto_extention.label }}</span>
        </div>
        {#
        <div class="my-5 text-gray-500 text-sm">
            {{ render_field_with_errors(form.contract_copy, class_="text-sm w-full mt-2 px-3 pb-1 border-b")}}
        </div>
        #}
        <button type="button" x-on:click="$el.closest('form').submit();" class="bg-blue-600 text-white text-sm my-5 py-1 px-28 w-full rounded shadow-lg
    hover:bg-blue-800 transition duration-200">登録</button>
    </form>
    <a href="/contract/{{ contract.id }}" class="block w-full text-center">中止</a>
</div>
{% endblock %}
{% block script %}
<script>
    const openSearchWindow = () => {
        const horizontalCenter = (screen.width - 500)/2
        window.open('/contract/search_contractor',
        "_blank",
        "location=no, menubar=0, width=500, height=500, left=" + horizontalCenter)
    }

    async function fetchContractor() {

        const contractorId = document.getElementById('contractor_id').value;
        const contractor_name = document.getElementById('contractor_name');

        const res = await fetch('/contract/contractor/' + contractorId);
        const resJson = await res.json();

        if (res.ok) {
            if (resJson['name'] == '') {
                contractor_name.value = '';
                alert('パートナーがみつかりません。');
                return;
            } else {
                contractor_name.value = resJson['name'];
            }

        } else {
            console.log(res.status);
        };
    };

</script>
{% endblock %}

