{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
{% from "_macros.html" import render_field_with_errors, render_input_field %}

<div class="container mx-auto max-w-sm py-10">
    <h1 class="font-bold text-xl text-gray-500">パートナー情報の更新</h1>

    <form action="/contractor/{{ contractor.id }}/edit" method="POST">
        {{ form.csrf_token }}
        {{ form.id(value=contractor.id, readonly=True, hidden=True) }}

        <div class="my-5 text-gray-800">
            <h2 class="text-lg font-bold">{{ '%05d' % contractor.id }}</h2>
        </div>

        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.name, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=contractor.name)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.title, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=contractor.title)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.representative, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=contractor.representative)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.zip, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=contractor.zip)}}
        </div>
        <div class="flex my-3 text-gray-500">
            {{ render_input_field(form.prefecture, class_="w-full border-b px-3 text-lg", readonly=True,
            value=contractor.prefecture)}}
            {{ render_input_field(form.city, class_="w-full border-b px-3 text-lg", readonly=True,
            value=contractor.city)}}
            {{ render_input_field(form.town, class_="w-full border-b px-3 text-lg", readonly=True,
            value=contractor.town)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.address, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=contractor.address)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.bldg, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=contractor.bldg)}}
        </div>

        <div class="my-3 text-sm">
            {{ form.care.label(class_=" text-base text-gray-500") }}
            {% if contractor.satiscare.membership == 1 %}
                {{ form.care(class_="border mx-3 align-middle", value="1", checked=True) }}
            {% else %}
                {{ form.care(class_="border mx-3 align-middle", value="1") }}
            {% endif %}
        </div>

        <button type="submit" class="bg-blue-600 text-white text-sm my-5 py-1 px-28 w-full rounded shadow-lg
    hover:bg-blue-800 transition duration-200">登録</button>

    </form>
</div>
{% endblock %}

{% block script %}
<!-- 住所補完JavaScriptライブラリの読み込み -->
<script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/postcode.js') }}"></script>
{% endblock %}
