{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}

<div class="container mx-auto max-w-4xl flex-grow">

    <div class="mx-auto my-12 max-w-md">

        <div class="flex justify-between my-5 ">
            <h1 class="font-bold text-xl text-gray-500">パートナー</h1>

            <a href="/contractor/register" class="text-sm text-blue-600 rounded-full py-1 px-2 hover:bg-blue-100 hover:text-blue-800">
                新規登録
            </a>
        </div>

        <div class="w-full">
            <form action="/contractor" method="GET">
                <div class="relative flex">
                    <input class="w-full rounded-full shadow-md h-10 px-5 pr-16 focus:border-blue-400 focus:bg-white" type="search" name="q" placeholder="検索キーワード">
                    <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% if contractors %}
    <div class="px-3 items-center flex mx-auto text-sm align-bottom justify-between">
        <p><span class="text-lg font-bold">{{ count }} </span>件</p>

        <p class="">
            {% if page %}
            {% for page_num in contractors.iter_pages(left_edge=3, right_edge=3) %}
            {% if page_num %}
                {% if contractors.page == page_num %}
                <a class="text-blue-600 underline" href="{{ url_for('contractor.index', q=search, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="text-blue-600" href="{{ url_for('contractor.index', q=search, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}  
        {% endif %}  
        </p>
    </div>

    <table class="table-auto w-full mx-2">
            <thead>
                <tr class="border-black border-b">
                    <td class="p-2">ID</td>
                    <td class="p-2"></td>
                    <td class="p-2">業者名</td>
                    <td class="p-2">郵便番号</td>
                    <td class="p-2">住所</td>
                </tr>
            </thead>
            <tbody>
            {% for contractor in contractors.items %}
                <tr class="">        
                    <td class="border-b"><a class="text-blue-600 hover:underline hover:text-blue-800" href="/contractor/{{ contractor.id }}">
                        {{ '%05d' % contractor.id }}</a></td>
                    <td class="border-b">
                        {% if contractor.satiscare.membership == 1 %}
                        <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-indigo-700 rounded-full">
                            ケア</span>
                        {% endif %}
                    </td>
                    <td class="border-b">{{ contractor.name }}</td>
                    <td class="border-b">{{ '{}-{}'.format(contractor.zip[:3], contractor.zip[3:]) }}</td>
                    <td class="border-b">{{ contractor.prefecture }}{{ contractor.city }}{{ contractor.town }}{{ contractor.address }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
