{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
{% from "_macros.html" import render_field_with_errors, render_input_field %}

<div class="container mx-auto max-w-sm py-10 flex-grow">
    <h1 class="font-bold text-xl text-gray-500">許可証情報の更新</h1>
    <h2 class="my-5 font-bold text-lg text-gray-500">{{ '%05d' % contractor.id }}: {{ contractor.name }}</h2>
        <form  x-data="{radio: ''}"
                        action="/contractor/{{ contractor.id }}/license/{{ license.id }}/edit" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
    
            <div class="my-5 text-gray-500 align-middle">
                <p class="">許可番号<span class="text-xs ml-3 text-red-500">必須</span></p>
                <div class="flex">
                {{ render_input_field(form.issuer, class_="text-gray-700 focus:outline-none
                    focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1")}}
                -
                {{ render_input_field(form.license_type, class_="text-gray-700 focus:outline-none
                    focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1")}}
                {{ render_input_field(form.reserved_num, class_="text-gray-700 focus:outline-none
                    focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1")}}
                -
                {{ render_input_field(form.unique_num, class_="text-gray-700 focus:outline-none
                    focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", value=license.unique_num)}}
                </div>
            </div>

            <div class="my-5 text-gray-500">
                {{ render_field_with_errors(form.effective_from, class_="w-full text-gray-700 focus:outline-none
                   focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", value=license.effective_from)}}
            </div>
            <div class="my-5 text-gray-500">
                {{ render_field_with_errors(form.expires_on, class_="w-full text-gray-700 focus:outline-none
                   focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", value=license.expires_on)}}
            </div>

            <div class="my-5 text-gray-500">
                {{ render_field_with_errors(form.copy_url, class_="w-full text-gray-700 focus:outline-none
                   focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", value=license.copy_url)}}
            </div>

            <button type="button" x-on:click="$el.closest('form').submit();" class="bg-blue-600 text-white text-sm my-5 py-1 px-28 w-full rounded shadow-lg
        hover:bg-blue-800 transition duration-200">内容確認</button>
    </form>
</div>
{% endblock %}