{% extends "layout.html" -%}
{% block content -%}
{% include "navbar.html" -%}

<div class="container max-w-4xl mx-auto px-2 flex-grow">
    {% include "_flashing.html" -%}

    <div class="max-w-md mx-auto mt-10">
        <p class="font-bold text-lg my-5">パートナー情報</p>
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <div class="">
                <p class="text-right">
                    <a href="/contractor/{{ contractor.id }}/edit" class="px-2 py-1 text-blue-500 rounded-full hover:bg-blue-100 text-right text-sm">編集</a>
                </p>
                <p class="text-gray-500 text-sm">
                </p>    
            </div>
            <p class="mt-3 text-lg font-bold">{{ '%05d' % contractor.id }}</p>
            <p class="text-2xl my-2">{{ contractor.name }}</p>
            <p class="text-gray-700">{{ contractor.title }} {{ contractor.representative }}</p>
            <p class="text-gray-700">{{ '〒{}-{}'.format(contractor.zip[:3], contractor.zip[3:]) }}</p>
            <p class="text-gray-700">{{ contractor.prefecture }}{{ contractor.city }}{{ contractor.town }}{{ contractor.address }}</p>
            <p class="text-gray-700">{{ contractor.bldg }}</p>
            {% if contractor.satiscare %}
            <p class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-indigo-700 rounded-full">ケア</p>
            {% endif %}

            <hr class="mt-5 mb-3">

            <div class="flex justify-between text-gray-500 text-sm">
                <p class="items-end">{{ contractor.registered_at.strftime('%Y-%m-%d %H:%M') }}</p>
                <p class="items-end">{{ contractor.registered_by }}</p>
            </div>
        </div>

        <!-- 一般廃棄物処理業許可のリスト -->

        <div class="max-w-xl rounded shadow-lg my-5 p-5">

            <div class="flex justify-between text-sm place-items-end mb-4">

                <h2 class="text-gray-800"><span class="text-lg font-bold">一般</span>廃棄物処理業 許可</h2>
                <a href="/license/register/business/{{ contractor.id }}" class="text-blue-500 rounded-full hover:bg-blue-100 px-2">+ 登録</a>
    
            </div>

            {% if licenses %}
            <table class="table-auto w-full">
                <thead></thead>
                <tbody>
                    {% for license in licenses %}
                    <tr class="">
                        <td class="mr-2"><a href="/contractor/{{ contractor.id}}/license/{{ license.id }}" class="text-blue-600 hover:underline hover:text-blue-800">
                    {{ license.id }}</a></td>
                    <td class="">{{ license.issuer.name }}</td>
                    <td class="">{{ license.license_type.name }}</td>
                    <td class="text-right">
                        <a href="{{ license.copy_url }}" class="text-blue-600 hover:underline hover:text-blue-800" target="_blank" rel="noopener">
                        {{ '%03d' % license.issuer_id }} {{ license.license_type_id }}{{ license.reserved_num }} {{ license.unique_num }}                    
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

</div>
<!-- ここまで　一般廃棄物廃棄物処理業許可 -->


        <!-- 一般廃棄物処理業許可のリスト -->

        <div class="max-w-xl rounded shadow-lg my-5 p-5">

            <div class="flex justify-between text-sm place-items-end mb-4">

                <h2 class="text-gray-800"><span class="text-lg font-bold">産業</span>廃棄物処理業 許可</h2>
                <a href="/license/register/industrial/{{ contractor.id }}" class="text-blue-500 rounded-full hover:bg-blue-100 px-2">+ 登録</a>
    
            </div>

            {% if licenses %}
            <table class="table-auto w-full">
                <thead></thead>
                <tbody>
                    {% for license in licenses %}
                    <tr class="">
                        <td class="mr-2"><a href="/contractor/{{ contractor.id}}/license/{{ license.id }}" class="text-blue-600 hover:underline hover:text-blue-800">
                    {{ license.id }}</a></td>
                    <td class="">{{ license.issuer.name }}</td>
                    <td class="">{{ license.license_type.name }}</td>
                    <td class="text-right">
                        <a href="{{ license.copy_url }}" class="text-blue-600 hover:underline hover:text-blue-800" target="_blank" rel="noopener">
                        {{ '%03d' % license.issuer_id }} {{ license.license_type_id }}{{ license.reserved_num }} {{ license.unique_num }}                    
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

</div>
<!--  -->
    </div>

</div>

{% endblock %}
