{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
{% from "_macros.html" import render_field_with_errors, render_input_field %}

<div class="container mx-auto max-w-sm py-10">
    <h1 class="font-bold text-xl text-gray-500">パートナー登録</h1>

    <form action="/contractor/register" method="POST">
        {{ form.csrf_token }}

        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.id, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", placeholder="数字1〜5桁")}}
            <div id="error_id" style="color: red;"></div>{# jsでバリエーションしてエラー表示をさせる場所 #}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.name, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", placeholder="株式会社さてぃす産業")}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.title, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", placeholder="代表取締役")}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.representative, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", placeholder="左茶須　三行")}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.zip, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", placeholder="1040032")}}
        </div>
        <div class="flex my-3 text-sm">
            {{ render_input_field(form.prefecture, class_="w-full border-b px-3", readonly=True, placeholder="千葉県")}}
            {{ render_input_field(form.city, class_="w-full border-b px-3", readonly=True, placeholder="市川市")}}
            {{ render_input_field(form.town, class_="w-full border-b px-3", readonly=True, placeholder="西条")}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.address, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1", placeholder="三丁目12番8号")}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.bldg, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1")}}
        </div>
        <div class="my-5 text-sm">{{ form.care.label(class_=" text-base text-gray-500") }}
            {{ form.care(class_="border mx-3 align-middle", value="1") }}</div>
    
        <button type="submit" class="bg-blue-600 text-white text-sm my-5 py-1 px-28 w-full rounded shadow-lg
    hover:bg-blue-800 transition duration-200">登録</button>

    </form>
</div>

<!-- 住所補完JavaScriptライブラリの読み込み -->
<script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/postcode.js') }}"></script>
{% endblock %}
