__pycache__/

env_variables.yaml

postcode.js

mysql/

.DS_Store

.env
.env.production

# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

