{% macro render_field_with_errors(field) %}
    {{ field.label }}<br>{{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
{% endmacro %}

{% macro render_field_with_errors2(field) %}
  {{ field.label }}
    {% if field.flags.required %}<span class="ml-3 text-xs text-red-500">必須</span>
    {% else %}<span class="ml-3 text-xs text-gray-800">任意</span>
    {% endif %}
  {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
{% endmacro %}

{% macro render_input_field(field) %}
      {{ field(**kwargs)|safe }}
{% endmacro %}
