<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/sf-favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon180x180.png')}}"> -->

    <!-- tailwind css cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>

    <title>sf main</title>
</head>
<body class="flex flex-col h-screen">
  {% block content %}
  {% endblock %}

  <!-- footer -->
  {% include "footer.html" %}
</body>
</html>