<nav class="bg-white sticky top-0 shadow-md px-3 py-4">
    <div class="max-w-4xl mx-auto">
        <div class="flex justify-between">
            <div class="flex space-x-5">
                <!-- logo -->
                <div>
                    <a href="/" class="flex items-center py-3">
                    <!-- <img src="{{ url_for('static', filename='img/logo_FUROSHIKI.png') }}" width=30 height=33
                    class="mr-3" alt="furoshiki logo"> --></a>
                </div>

                <!-- primary nav -->
                <div class="hidden md:flex items-center space-x-1 font-bold">
                    <a href="/" class="py-3 px-3 text-gray-500 hover:text-gray-800 hover:underline">
                        ホーム</a>
                    <a href="/contractor" class="py-3 px-3 text-gray-500 hover:text-gray-800 hover:underline">
                        パートナー</a>
                </div>
            </div>

        <!-- secondary nav -->
        <div class="hidden md:flex items-center space-x-5">
            <a href="/logout" class="font-bold text-blue-500 hover:underline hover:text-blue-800">ログアウト</a>
        </div>

            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg>
                    </button>
            </div>

        </div>
    </div>

    <!-- mobile menu goes here -->
    <div class="mobile-menu hidden md:hidden">
    <a href="/" class="block py-2 px-3 text-gray-700 hover:bg-gray-200">
                        ホーム</a>
    <a href="/requests" class="block py-2 px-3 text-gray-700 hover:bg-gray-200">
                        配送依頼事項</a>
    <div class="block py-2 px-3">
    </div>
    <a href="/logout" class="block py-2 px-3 text-blue-600 hover:bg-gray-200">ログアウト</a>
    </div>
</nav>
