{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}

<div class="container max-w-4xl mx-auto px-2 flex-grow">
    {% include "_flashing.html" %}

    <div class="max-w-md mx-auto mt-10">
        <p class="font-bold text-lg my-5">許可情報</p>

        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <div class="">
            </div>

            <p class="mt-3 text-lg font-bold">{{ '%05d' % license.contractor.id }}</p>
            <p class="text-2xl my-2">{{ license.contractor.name }}</p>
            <p class="text-lg font-bold">{{ license.issuer.name }} {{ license.license_type.name }}</p>
            <p class="text-gray-700 text-sm">許可番号：
                {% if license.copy_url %}
                <a href="{{ license.copy_url }}" class="text-lg text-blue-600 hover:underline hover:text-blue-800" target="_blank" rel="noopener">
                    {{ '%03d' % license.issuer_id }}{{ license.license_type_id }}{{ license.reserved_num }}{{ license.unique_num }}
                </a>
                {% else %}
                <span>
                    {{ '%03d' % license.issuer_id }}{{ license.license_type_id }}{{ license.reserved_num }}{{ license.unique_num }}
                </span>
                {% endif %}
            </p>

            <p class="text-gray-700 text-sm">許可の年月日：
                <span class="text-lg font-bold">{{ license.effective_from }}</span>
            </p>
            <p class="text-gray-700 text-sm">許可の有効年月日：
                <span class="text-lg font-bold">{{ license.expires_on }}</span>
            </p>

            <hr class="mt-5 mb-3">

            <div class="flex justify-between text-gray-500 text-sm">
                <p class="items-end">{{ license.registered_at.strftime('%Y-%m-%d %H:%M') }}</p>
                <p class="items-end">{{ license.registered_by }}</p>
            </div>
        </div>
        <!-- licensed items -->
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <div class="">
                <h2 class="text-base">許可品目</h2>
            </div>
            <div>
                <form method="post">
                    {{ form.csrf_token }}
                    {{ form.item.label(class_="sr-only") }}
                    {{ form.item(class_="mt-5 border rounded-md text-sm") }}
                    <button class="block mt-3 text-sm text-white rounded-full bg-rose-500 px-2 py-1" onclick="submit();">登録</button>
    
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}