<nav class="bg-white sticky top-0 px-3 py-5">
    <div class="max-w-4xl mx-auto">
        <div class="flex justify-between">
            <div class="flex space-x-5"></div>

        <!-- secondary nav -->
        <div class="hidden md:flex items-center space-x-5">
            <a href="" class="px-2 py-1 text-sm text-rose-700 rounded-full border border-rose-700 hover:bg-rose-100">ログイン</a>
        </div>

            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg>
                    </button>
            </div>

        </div>
    </div>

    <!-- mobile menu goes here -->
    <div class="mobile-menu hidden md:hidden">
    <a href="/" class="block py-2 px-3 text-gray-700 hover:bg-gray-200">
                        ホーム</a>
    <a href="/requests" class="block py-2 px-3 text-gray-700 hover:bg-gray-200">
                        配送依頼事項</a>
    <div class="block py-2 px-3">
    </div>
    <a href="/logout" class="block py-2 px-3 text-blue-600 hover:bg-gray-200">ログアウト</a>
    </div>
</nav>
