{% extends "layout.html" -%}
{% block content -%}
{% include "navbar.html" -%}
{% include "_flashing.html" -%}

<div class="container max-w-2xl mx-auto mt-7 px-2">
    <div class="max-w-md mx-auto">
        <p class="font-bold text-lg my-5">取引先情報</p>
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <div class="">
                <p class="text-right">
                    <a href="/customer/{{ customer.id }}/edit" class="px-1 py-1 text-blue-500 rounded-full hover:bg-blue-100 text-right">編集</a>
                </p>
                <p class="text-gray-500 text-sm">
                </p>    
            </div>
            <p class="mt-3 text-lg font-bold">{{ '%05d' % customer.id }}</p>
            <p class="text-2xl my-2">{{ customer.name }}</p>
            <p class="text-gray-700">{{ customer.title }} {{ customer.representative }}</p>
            <p class="text-gray-700">{{ '〒{}-{}'.format(customer.zip[:3], customer.zip[3:]) }}</p>
            <p class="text-gray-700">{{ customer.prefecture }}{{ customer.city }}{{ customer.town }}{{ customer.address }}</p>
            <p class="text-gray-700">{{ customer.bldg }}</p>
            <hr class="mt-5 mb-3">

            <div class="flex justify-between text-gray-500 text-sm">
                <p class="items-end">{{ customer.registered_at.strftime('%Y-%m-%d %H:%M') }}</p>
                <p class="items-end">{{ customer.registered_by }}</p>
            </div>
        </div>
        <p class="mx-5">
            <a href="/customer/{{ customer.id }}/shop/register" class="text-blue-500 hover:text-blue-700 hover:underline">
            事業所の登録
            </a>
        </p>
        {% if shops %}
        <diV>
            {% if pages %}
            {% for page_num in customers.iter_pages(left_edge=3, right_edge=3) %}
            {% if page_num %}
                {% if customers.page == page_num %}
                <a class="text-blue-600 underline" href="{{ url_for('customer.index', q=search, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="text-blue-600" href="{{ url_for('customer.index', q=search, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}  
    
            {% endif %}
        </diV>
        <table class="table-auto w-full mx-2 text-sm">
            <thead>
                <tr class="border-black border-b">
                    <td class="p-2">ID</td>
                    <td class="p-2">事業所名</td>
                    <td class="p-2">住所</td>
                </tr>
            </thead>
            <tbody>
            {% for shop in shops.items %}
                <tr class="">
                    <td class="border-b"><a class="text-blue-600 hover:underline hover:text-blue-800" href="/customer/{{ customer.id }}/{{ shop.id }}">
                        {{ shop.id }}</a></td>
                    <td class="border-b">{{ shop.name }}</td>
                    <td class="border-b">{{ shop.prefecture }}{{ shop.city }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    
    </div>



</div>

{% endblock %}
