{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
{% from "_macros.html" import render_field_with_errors, render_input_field %}

<div class="container mx-auto max-w-sm py-10">
    <h1 class="font-bold text-xl text-gray-500">事業所情報の編集</h1>

    <form action="/customer/{{ shop.customer_id }}/{{ shop.id }}/edit" method="POST">
        {{ form.csrf_token }}
        {{ form.id(value=shop.id, readonly=True, hidden=True) }}

        <div class="my-5 text-gray-800 text-lg">
            {{ shop.customer_id }} - {{ shop.id }}
        </div>

        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.shop_number, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=shop.shop_number)}}
        </div>

        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.name, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=shop.name)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.zip, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=shop.zip)}}
        </div>
        <div class="flex my-3 text-gray-500">
            {{ render_input_field(form.prefecture, class_="w-full border-b px-3 text-lg", readonly=True,
            value=shop.prefecture)}}
            {{ render_input_field(form.city, class_="w-full border-b px-3 text-lg", readonly=True,
            value=shop.city)}}
            {{ render_input_field(form.town, class_="w-full border-b px-3 text-lg", readonly=True,
            value=shop.town)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.address, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=shop.address)}}
        </div>
        <div class="my-5 text-gray-500">
            {{ render_field_with_errors(form.bldg, class_="w-full text-gray-700 focus:outline-none
               focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 px-3 pb-1",
               value=shop.bldg)}}
        </div>
    
        <button type="submit" class="bg-blue-600 text-white text-sm my-5 py-1 px-28 w-full rounded shadow-lg
    hover:bg-blue-800 transition duration-200">登録</button>

    </form>

</div>

<!-- 住所補完JavaScriptライブラリの読み込み -->
<script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/postcode.js') }}"></script>
{% endblock %}
