{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}

<div class="container max-w-2xl mx-auto mt-7 px-2 flex-grow">
    <div class="max-w-md mx-auto">
        <p class="font-bold text-lg my-5 text-gray-700">依頼一覧</p>
        {#
        <div class="max-w-xl rounded shadow-lg my-5 p-7">
            <p class="">{{ '%05d' % shop.customer_id }}-{{ shop.id }}</p>
            <p class="text-2xl my-2">{{ shop.name }}</p>
            <p class="text-gray-700">{{ '〒{}-{}'.format(shop.zip[:3], shop.zip[3:]) }}</p>
            <p class="text-gray-700">{{ shop.prefecture }}{{ shop.city }}{{ shop.town }}{{ shop.address }}</p>
            <p class="text-gray-700">{{ shop.bldg }}</p>
        </div>
        #}
    </div>
</div>

{% endblock %}