{% extends "layout.html" %}
{% block content %}
<header>
    {% include "nav.html" %}
</header>
{% include "_flashing.html" %}

<div class="container mx-auto max-w-sm py-10 flex-grow">
    <div class="max-w-md mx-auto">
        <p class="font-bold text-lg my-5">許可情報</p>
        <div class="max-w-xl rounded shadow-lg my-5 p-5">

            <p class="mt-3 text-lg font-bold">{{ '%05d' % license.contractor.id }}</p>
            <p class="text-2xl my-2">{{ license.contractor.name }}</p>
            <p class="text-lg font-bold">{{ license.issuer.name }} {{ license.license_type.name }}</p>
            <p class="text-gray-700 text-sm">許可番号：
                {% if license.copy_url %}
                <a href="{{ license.copy_url }}" class="text-lg text-blue-600 hover:underline hover:text-blue-800" target="_blank" rel="noopener">
                    {{ '%03d' % license.issuer_id }}{{ license.license_type_id }}{{ license.reserved_num }}{{ license.unique_num }}
                </a>
                {% else %}
                <span>
                    {{ '%03d' % license.issuer_id }}{{ license.license_type_id }}{{ license.reserved_num }}{{ license.unique_num }}
                </span>
                {% endif %}
            </p>

            <p class="text-gray-700 text-sm">許可の年月日：
                <span class="text-lg font-bold">{{ license.effective_from }}</span>
            </p>
            <p class="text-gray-700 text-sm">許可の有効年月日：
                <span class="text-lg font-bold">{{ license.expires_on }}</span>
            </p>

        </div>
        <!-- licensed items -->
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <div class="">
                <h2 class="text-base">許可品目</h2>
            </div>
            <div class="mt-3 text-xs">
                {% if licensed_items %}
                {% with %}
                {% set item_list = {100:'燃殻', 200:'汚泥', 300:'廃油', 400:'廃酸', 500:'廃ア', 600:'プラ', 700:'紙', 800:'木', 900:'繊維', 1000:'動植', 1100:'ゴム', 1200:'金属', 1300:'ガラ', 1400:'鉱さ', 1500:'ガレ', 1600:'動ふ', 1700:'動死', 1800:'ばい', 1900:'処理', 2400:'石綿', 2500:'水銀', 2600:'水ばい', 4000:'動固'} %}
                <ul class="flex flex-wrap" x-data x-init="createItemList" id="items_ul">
                    {% for key, value in item_list.items() %}
                      <li class="m-1 p-1 rounded-lg text-white bg-gray-200" id="{{ key }}">{{ value }}</li>
                    {% endfor %}
                </ul>
                {% endwith %}
                {% endif %}
            </div>
        </div>


    </div>
</div>

{% endblock %}