{% extends "layout.html" %}
{% block content %}
<header>
    {% include "nav.html" %}
</header>
{% include "_flashing.html" %}


<div class="container max-w-4xl mx-auto px-2 flex-grow">
    <div class="max-w-md mx-auto mt-10">
        <p class="font-bold text-lg my-5">一般廃棄物処理業許可情報</p>
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <p class="mt-3 text-lg font-bold">{{ '%05d' % permit.contractor.id }}</p>
            <p class="text-2xl my-2">{{ permit.contractor.name }}</p>
            <p class="text-lg font-bold">{{ permit.issuer.name }}
                <span id="permitCity"></span></p>
            <p class="text-base my-1">
                {% if permit.copy_url %}
                <a href="{{ permit.copy_url }}" class="text-blue-600 hover:underline hover:text-blue-800" target="_blank" rel="noopener">
                    {{ permit.permit_type.name }}</a>
                {% else %}
                <a href="/permit/{{ '%05d' % permit.contractor_id }}{{ permit.city }}{{ permit.id}}" class="text-blue-600 hover:underline hover:text-blue-800" target="_blank" rel="noopener">
                    {{ permit.permit_type.name }}</a>
                {% endif %}
            </p>

            <p class="text-gray-700 text-sm">許可の年月日：
                <span class="text-lg font-bold">{{ permit.effective_from }}</span>
            </p>
            <p class="text-gray-700 text-sm">許可の有効年月日：
                <span class="text-lg font-bold">{{ permit.expires_on }}</span>
            </p>            
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    const strPrefId = ("{{ permit.prefecture }}").toString().padStart(2, '0');
    const strCityId = ("{{ permit.city }}").toString().padStart(5, '0');

    const endpoint = 'https://www.land.mlit.go.jp/webland/api/CitySearch?area=' + strPrefId;
    const permitCity = document.getElementById('permitCity')

    async function setCityName () {
        const res = await fetch(endpoint);
        const cities = await res.json();

        cities['data'].forEach((city) => {
            if (city.id == strCityId) {
                const cityName = city.name;
                permitCity.textContent = cityName;
            };
        });
    }

    setCityName();

</script>
{% endblock %}